

h1{
  font-family: 'Nunito', sans-serif !important;
    font-weight: 800;
}

h2, h3{
  font-family: 'Nunito', sans-serif !important;
    font-weight: 800;
    
}

body,{
  font-family: 'Nunito', sans-serif !important;
    font-weight: 200;
}
a, button, ul, li{
    font-family: 'Nunito', sans-serif !important;
}

$yellow: #FFD00B  ;
$rouge: #ED434E;
