
#faqpage{
.active.title{
  background-color: #ED434E;
  color:white;
}
.content{
    padding-top:3rem;
}
font-size: 2rem;
  
  .accordion{
font-family: 'Nunito Sans' sans-serif;
}
.accordion{
  padding:2rem 0;
}

.active{
  color:black;
  background-color: white;
}


}


