#settingHistory{


  h1{
    color: #ED434E;
    padding-left: 0.4rem;
  }
  .divider{
    border: solid 0.5px #ED434E;
  }
  .annonce{
    padding:0.5rem 2rem;
  }

  .liens{
    background-color: #ED434E;
    color:white !important;
  }
  
  .liens a{
    color:white !important;
  }
}
