#createEvent{
  background-color:#777;
  padding:2rem;
}
.border-none{
  border:none!important;
}
.display-flex{
  display: flex!important;
  align-content: flex-start;
}



.content .ui.label{
  background-color: #ED434E!important;
  color:#fff;
}
